.currency-select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;

    &__container {
        margin: 10px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__subtitle {
        font-weight: bold;
        flex-basis: 100%;
        
    }

    &__list-container {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;   
    }

    &__list {
        height: 50px;
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;   
        list-style-type: none; 
        padding: 0;
    }

    &__list-element {
        display: inline; 
        padding: 0 1rem;
    }

    &__loading {
        color: green;
    }

    &__error {
        color: red;
    }
  }